html, body {
    height: 100%;
    width: 100%;
    margin: 0
}

body {
    display: flex;
}

.divForm {
    margin: auto
}

.buttonForm {
    display: block !important;
    margin: 10px auto
}

#infoButton {
    margin: 10px auto;
    display: block !important
}